body{
    height: 100vh;
    width: 100vw;
    font-family: 'Noto Sans', sans-serif;
    background-image: url("lunges.svg");
    background-repeat: repeat;
    background-size: cover;
}

.container{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}

table {
    background-color: rgb(255, 255, 255, 0.8);

}

th {
    border: 1px solid black;
    height: 50px;
    min-width: 100px;
    text-align: center;
}

td{
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

.background-image-1{
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.background-image-2{
    position: absolute;
    top: 0;
    z-index: -1;
}